.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 26px;
    height: 26px;
}

.icon_thumb_bkn-p-ra-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_+ra_d.svg)}
.icon_thumb_bkn-p-ra-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_+ra_n.svg)}
.icon_thumb_bkn-p-sn-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_+sn_d.svg)}
.icon_thumb_bkn-p-sn-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_+sn_n.svg)}
.icon_thumb_bkn-m-ra-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_-ra_d.svg)}
.icon_thumb_bkn-m-ra-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_-ra_n.svg)}
.icon_thumb_bkn-m-sn-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_-sn_d.svg)}
.icon_thumb_bkn-m-sn-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_-sn_n.svg)}
.icon_thumb_bkn-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg)}
.icon_thumb_bkn-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_n.svg)}
.icon_thumb_bkn-ra-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_ra_d.svg)}
.icon_thumb_bkn-ra-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_ra_n.svg)}
.icon_thumb_bkn-sn-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_sn_d.svg)}
.icon_thumb_bkn-sn-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/bkn_sn_n.svg)}
.icon_thumb_ovc{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/ovc.svg)}
.icon_thumb_ovc-p-ra{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/ovc_+ra.svg)}
.icon_thumb_ovc-p-sn{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/ovc_+sn.svg)}
.icon_thumb_ovc-m-ra{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/ovc_-ra.svg)}
.icon_thumb_ovc-ra-sn{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/ovc_ra_sn.svg)}
.icon_thumb_ovc-m-sn{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/ovc_-sn.svg)}
.icon_thumb_ovc-ra{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/ovc_ra.svg)}
.icon_thumb_ovc-sn{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/ovc_sn.svg)}
.icon_thumb_ovc-ts-ra{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/ovc_ts_ra.svg)}
.icon_thumb_skc-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/skc_d.svg)}
.icon_thumb_skc-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/svg/skc_n.svg)}
.icon_thumb_wnd{background-image:url(//yastatic.net/weather/i/icons/svg/wnd.svg)}
.icon_thumb_water{background-image:url(//yastatic.net/weather/i/icons/svg/water.svg)}

/*.i-ua_svg_no .icon_thumb_bkn-p-ra-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_+ra_n.png)}
.i-ua_svg_no .icon_thumb_bkn-p-ra-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_+ra_d.png)}
.i-ua_svg_no .icon_thumb_bkn-p-sn-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_+sn_d.png)}
.i-ua_svg_no .icon_thumb_bkn-p-sn-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_+sn_n.png)}
.i-ua_svg_no .icon_thumb_bkn-m-sn-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_-sn_d.png)}
.i-ua_svg_no .icon_thumb_bkn-sn-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_sn_d.png)}
.i-ua_svg_no .icon_thumb_ovc-sn{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/ovc_sn.png)}
.i-ua_svg_no .icon_thumb_bkn-m-sn-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_-sn_n.png)}
.i-ua_svg_no .icon_thumb_bkn-sn-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_sn_n.png)}
.i-ua_svg_no .icon_thumb_ovc{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/ovc.png)}
.i-ua_svg_no .icon_thumb_ovc-ts-ra{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/ovc_ts_ra.png)}
.i-ua_svg_no .icon_thumb_bkn-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_d.png)}
.i-ua_svg_no .icon_thumb_ovc-p-ra{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/ovc_+ra.png)}
.i-ua_svg_no .icon_thumb_ovc-ra{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/ovc_ra.png)}
.i-ua_svg_no .icon_thumb_bkn-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_n.png)}
.i-ua_svg_no .icon_thumb_ovc-p-sn{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/ovc_+sn.png)}
.i-ua_svg_no .icon_thumb_bkn-m-ra-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_-ra_d.png)}
.i-ua_svg_no .icon_thumb_bkn-ra-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_ra_d.png)}
.i-ua_svg_no .icon_thumb_ovc-m-ra{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/ovc_-ra.png)}
.i-ua_svg_no .icon_thumb_ovc-ra-sn{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/ovc_ra_sn.png)}
.i-ua_svg_no .icon_thumb_skc-d{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/skc_d.png)}
.i-ua_svg_no .icon_thumb_bkn-m-ra-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_-ra_n.png)}
.i-ua_svg_no .icon_thumb_bkn-ra-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/bkn_ra_n.png)}
.i-ua_svg_no .icon_thumb_ovc-m-sn{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/ovc_-sn.png)}
.i-ua_svg_no .icon_thumb_skc-n{background-image:url(//yastatic.net/weather/i/icons/blueye/color/48/skc_n.png)}
.i-ua_svg_no .icon_thumb_wnd{background-image:url(//yastatic.net/weather/i/icons/48x48/wnd.png)}
.i-ua_svg_no .icon_thumb_water{background-image:url(//yastatic.net/weather/i/icons/48x48/water.png)}*/

.icon_wind {background-image: url(//yastatic.net/weather/i/wind/arrow_dark.svg);}
.icon_wind_s{-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}
.icon_wind_ssw{-ms-transform:rotate(30deg);-o-transform:rotate(30deg);transform:rotate(30deg)}
.icon_wind_sw{-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.icon_wind_wsw{-ms-transform:rotate(60deg);-o-transform:rotate(60deg);transform:rotate(60deg)}
.icon_wind_w{-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
.icon_wind_wnw{-ms-transform:rotate(120deg);-o-transform:rotate(120deg);transform:rotate(120deg)}
.icon_wind_nw{-ms-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg)}
.icon_wind_nnw{-ms-transform:rotate(150deg);-o-transform:rotate(150deg);transform:rotate(150deg)}
.icon_wind_n{-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.icon_wind_nne{-ms-transform:rotate(-150deg);-o-transform:rotate(-150deg);transform:rotate(-150deg)}
.icon_wind_ne{-ms-transform:rotate(-135deg);-o-transform:rotate(-135deg);transform:rotate(-135deg)}
.icon_wind_ene{-ms-transform:rotate(-120deg);-o-transform:rotate(-120deg);transform:rotate(-120deg)}
.icon_wind_e{-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg)}
.icon_wind_ese{-ms-transform:rotate(-60deg);-o-transform:rotate(-60deg);transform:rotate(-60deg)}
.icon_wind_se{-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.icon_wind_sse{-ms-transform:rotate(-30deg);-o-transform:rotate(-30deg);transform:rotate(-30deg)}
/*.i-ua_svg_no .icon_wind_ssw,.i-ua_svg_no.icon_wind_sw,.i-ua_svg_no .icon_wind_wsw{background-image:url(//yastatic.net/weather/i/wind/i18n/sw.gif)}
.i-ua_svg_no .icon_wind_nnw,.i-ua_svg_no .icon_wind_w,.i-ua_svg_no .icon_wind_wnw{background-image:url(//yastatic.net/weather/i/wind/i18n/w.gif)}
.i-ua_svg_no .icon_wind_nw{background-image:url(//yastatic.net/weather/i/wind/i18n/nw.gif)}
.i-ua_svg_no .icon_wind_n,.i-ua_svg_no .icon_wind_nne{background-image:url(//yastatic.net/weather/i/wind/i18n/n.gif)}
.i-ua_svg_no .icon_wind_ne{background-image:url(//yastatic.net/weather/i/wind/i18n/ne.gif)}
.i-ua_svg_no .icon_wind_e,.i-ua_svg_no .icon_wind_ene,.i-ua_svg_no .icon_wind_ese{background-image:url(//yastatic.net/weather/i/wind/i18n/e.gif)}
.i-ua_svg_no .icon_wind_se{background-image:url(//yastatic.net/weather/i/wind/i18n/se.gif)}
.i-ua_svg_no .icon_wind_s{background-image:url(//yastatic.net/weather/i/wind/i18n/s.gif)}*/

.icon_moon_0,.icon_moon_16{background-image:url(//yastatic.net/weather/i/moon/00.svg)}
.icon_moon_1{background-image:url(//yastatic.net/weather/i/moon/01.svg)}
.icon_moon_2{background-image:url(//yastatic.net/weather/i/moon/02.svg)}
.icon_moon_3{background-image:url(//yastatic.net/weather/i/moon/03.svg)}
.icon_moon_4{background-image:url(//yastatic.net/weather/i/moon/04.svg)}
.icon_moon_5{background-image:url(//yastatic.net/weather/i/moon/05.svg)}
.icon_moon_6{background-image:url(//yastatic.net/weather/i/moon/06.svg)}
.icon_moon_7{background-image:url(//yastatic.net/weather/i/moon/07.svg)}
.icon_moon_8{background-image:url(//yastatic.net/weather/i/moon/08.svg)}
.icon_moon_9{background-image:url(//yastatic.net/weather/i/moon/09.svg)}
.icon_moon_10{background-image:url(//yastatic.net/weather/i/moon/10.svg)}
.icon_moon_11{background-image:url(//yastatic.net/weather/i/moon/11.svg)}
.icon_moon_12{background-image:url(//yastatic.net/weather/i/moon/12.svg)}
.icon_moon_13{background-image:url(//yastatic.net/weather/i/moon/13.svg)}
.icon_moon_14{background-image:url(//yastatic.net/weather/i/moon/14.svg)}
.icon_moon_15{background-image:url(//yastatic.net/weather/i/moon/15.svg)}

/*.i-ua_svg_no .icon_moon_0,.i-ua_svg_no .icon_moon_16{background-image:url(//yastatic.net/weather/i/moon/00.gif)}
.i-ua_svg_no .icon_moon_1{background-image:url(//yastatic.net/weather/i/moon/01.gif)}
.i-ua_svg_no .icon_moon_2{background-image:url(//yastatic.net/weather/i/moon/02.gif)}
.i-ua_svg_no .icon_moon_3{background-image:url(//yastatic.net/weather/i/moon/03.gif)}
.i-ua_svg_no .icon_moon_4{background-image:url(//yastatic.net/weather/i/moon/04.gif)}
.i-ua_svg_no .icon_moon_5{background-image:url(//yastatic.net/weather/i/moon/05.gif)}
.i-ua_svg_no .icon_moon_6{background-image:url(//yastatic.net/weather/i/moon/06.gif)}
.i-ua_svg_no .icon_moon_7{background-image:url(//yastatic.net/weather/i/moon/07.gif)}
.i-ua_svg_no .icon_moon_8{background-image:url(//yastatic.net/weather/i/moon/08.gif)}
.i-ua_svg_no .icon_moon_9{background-image:url(//yastatic.net/weather/i/moon/09.gif)}
.i-ua_svg_no .icon_moon_10{background-image:url(//yastatic.net/weather/i/moon/10.gif)}
.i-ua_svg_no .icon_moon_11{background-image:url(//yastatic.net/weather/i/moon/11.gif)}
.i-ua_svg_no .icon_moon_12{background-image:url(//yastatic.net/weather/i/moon/12.gif)}
.i-ua_svg_no .icon_moon_13{background-image:url(//yastatic.net/weather/i/moon/13.gif)}
.i-ua_svg_no .icon_moon_14{background-image:url(//yastatic.net/weather/i/moon/14.gif)}
.i-ua_svg_no .icon_moon_15{background-image:url(//yastatic.net/weather/i/moon/15.gif)}*/